@import "src/styles/variables";

.toolbar{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  grid-gap: 24px;

  &__item{

    &:hover{
      cursor: pointer;
      color: $base-accent;
      transition-duration: .3s;
    }
  }
}



